@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)),
    url("./chatApp.bg.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}
